@use "tokens" as *;

.footer {
  // max-width: $max-content;
  margin: 0 auto;
  background: $color-bg-dark;
  color: $color-bg-secondary;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 56px;
}

.footer-nav {
  display: flex;
  // flex-wrap: wrap;
  width: 404px;
  justify-content: space-between;
  font-family: $font-sans;
  font-weight: 400;
  font-size: 14px;

  a {
    white-space: nowrap;
  }
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 5.34vw;

  img {
    display: block;
    height: 16px;
    width: auto;
  }

  .wharf-logo {
    height: 16px;
  }
}

.footer-link-mobile {
  display: flex;
  align-items: center;
  gap: 4.58vw;

  img {
    display: block;
    height: 16px;
    width: auto;
  }
}

.footer-bottom {
  border-top: 1px solid $color-bg-secondary;
  padding: 32px 56px 40px;
}

.footer-legal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  margin-bottom: 16px;
  font-family: $font-sans;
  font-weight: 400;
  font-size: 14px;
  color: $color-bg-secondary;

  span {
    font-size: 12px;
    color: $color-bg-secondary;
  }
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: $font-sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: $color-bg-secondary;
  flex: 1;
  p:last-child {
    color: $color-text-muted;
  }
}

.footer-logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  img {
    width: 169px;
    height: auto;
  }
}

// 미디어쿼리 ────────────────────────────────────
@media (max-width: 987px) {
  .footer-link {
    display: none;
  }
  .footer-legal a:nth-of-type(2) {
    display: none;
  }
  .footer-link-mobile img {
    display: block;
    height: 14px;
    width: auto;
  }
  .footer-legal a {
    font-size: 12px;
  }
  .footer-logo img {
    width: 120px;
    height: auto;
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-info {
    text-align: center;
  }
  .footer-bottom {
    padding: 0;
  }
  .footer-legal {
    display: flex;
    justify-content: center;
    color: #f5f5f0;
    margin: 24px;
    gap: 4.58vw;
  }
  .footer-top {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 988px) {
  .footer-link-mobile {
    display: none;
  }
}

@media (max-width: 457px) {
  .footer-legal {
    display: flex;
    justify-content: space-between;
    color: #f5f5f0;
    gap: 0;
    margin: 24px;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    margin: 24px;
  }
  .footer-top {
    padding: 0;
  }
}
