$font-sans:
  "Pretendard",
  system-ui,
  -apple-system,
  sans-serif;

$color-white: #ffffff;
$color-bg-secondary: #f5f5f0;
$color-bg-dark: #090e21;
$color-brand: #050054;
$color-text: #000000;
$color-text-secondary: #424348;
$color-text-muted: #dbdbda;
$color-caption: #7b7b7b;
$color-border: #e8e8e8;

$max-content: 1440px;
